<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
	  <setting name="cacheEnabled" value="true"/>
	  <setting name="logImpl" value="LOG4J"/>
	</settings>
	
	<!-- 为所有的POJO起别名,规则为POJO类的的简单类名首字母变为小写 -->
	<typeAliases>
		<package name="com.olts.vo"/>
	</typeAliases>
	<mappers>
		<package name="com.olts.mapper"/>
	</mappers>
	 
</configuration>